* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}


.character-details {
    display: flex;
}

.character-details .image {
    flex: 0 0 30%;
}

.img {
    width: 500px;
    height: auto;
}

.info {
    flex: 1;
    padding: 20px;
}

.name {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.description {
    font-size: 1.1rem;
    margin-bottom: 20px;
}